@model Mens_Fashion.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Products",FormMethod.Post , new { enctype="multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product</h4>
    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.PRODUCT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRODUCT_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRODUCT_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PRODUCT_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRODUCT_DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRODUCT_DESCRIPTION, "", new { @class = "text-danger" })
        </div>
    </div>


  
    <div class="form-group ">
        <div class="control-label col-md-2"><b>
       PURCHASE PRICE($)</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRODUCT_PURCHASEPRICE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRODUCT_PURCHASEPRICE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <b>
                SALE PRICE($)
            </b>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRODUCT_SALEPRICE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRODUCT_SALEPRICE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PRODUCT_PICTURE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="PRO_PIC" required />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <b>
                CATEGORY
            </b>
        </div>
        <div class="col-md-10">
            @Html.DropDownList("CATEGORY_FID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CATEGORY_FID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
